@model BSI.Zimmer.Aplicacao.DTO.UsuarioDTO

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="hero-unit" style="padding-top: 10px; padding-bottom: 2px;">

                <div class="row">
                    <div class="hero-unit">
                        <h1>DashBoard</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
</div>
